.hero {
    &__content {
        @include flex (space-between, center);
        flex-wrap: wrap;
    }

    &__title {
        @include font (56px, 700, #000000);
        max-width: 570px;
    }

    &__suptitle {
        @include font (18px, 500 , #000000);
        max-width: 570px;
        padding-top: 27px;
    }

    &__button {
        @include font (16px, 600, #FFFFFF);
        padding: 23px 95px 22px 100px;
        background-color: #7CB9F2;
        border-radius: 10px;
        margin-top: 28px;
    }
}