@media screen and (max-width: 790px) { 
    .subtitle {
        display: block;
    }
}

@media screen and (max-width: 730px){
    .burger {
        &__menu {
            display: block;
        }

        &__list {
            display: block;
            margin: 0 auto;
        }

        .header__nav {
            display: block;
        }
    }

    .header {
        &__nav {
            display: none;
        }
    }
}


