.team {
    &__content {
       
    }
    &__suptitle{
        @include font(20px, 400, #000);
    }
    &__title{
        @include font(40px, 700, #000);
        padding-top: 38px;
        margin-bottom: 89px;
        margin-left: 398px;
        margin-right: 394px;
        text-align: center;
    }
    &__head-box{
        justify-content: space-between;
        @include flex(space-between, center);
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }
    &__box {
        background: #F4EDED;
        border-radius: 10px;
        width: 362.65px;
        height: 443.46px;
        text-align: center;
        margin-right: 30px;
    }

    &__name {
        @include font (16px, 700, #000);
        margin-bottom: 24px;
    }

    &__text {
        @include font (14px, 400, #000);
        margin: 0 34px;
    }
    &__face {
        margin-top: 12px;
        margin-bottom: 32px;
    }
}